.sendForm {

}

.textarea {
    position: relative;
    padding: 5px 20px;
    border-radius: 25px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    resize: none;
    min-height: 50px;
    overflow: hidden;
    max-width: 1300px;
    min-width: 1300px;
    max-height: 30px;
    min-height: 30px;
    position: relative;
}

.button {
    background-color: #0B93F6;
    color: white;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    resize: none;
    border: 0;
    padding: 5px 20px;
    border-radius: 25px;
    max-width: 90px;
    min-width: 90px;
    max-height: 30px;
    min-height: 30px;
    position: absolute;
    margin-left: 10px;

}

.button:hover {

}

.button:active {

}
